/*
 *
 * MMM-Chore-Manager
 *
 * Jordan Welch
 * MIT Licensed.
 *
 */
.MMM-Chore-Manager .owner {
  padding-left: 30px;
  text-align: right;
  vertical-align: top;
 }


.MMM-Chore-Manager .symbol {
  padding-left: 0;
  padding-right: 10px;
  font-size: var(--font-size-small);
}

.MMM-Chore-Manager .row {
  vertical-align: middle;
}
