{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <header class="space-between">
    <span>{{ "CHORES" | translate }}</span>
  </header>

  <table class="small">
    <tbody>
      {% for chore in chores %}
        <tr class="normal row">
          <td class="symbol">
            {% if chore.isPastDue %}
              <i class="fa fa-exclamation-circle"/>
            {% endif %}
          </td>

          <td class="align-left bright">
            {{ chore.title }}
          </td>

          <td class="owner light">
            {{ chore.owner }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
